@model ASP_NET_MVC_Q4.ViewModel.SelectListViewModel
@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jqueryajax")
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<h2></h2>
<body>
    <form action="@Url.Action("Index")" method="post">       
        @Html.DropDownList("department", new SelectList(Model.FirstselectListItem, "Value", "Text"), "請選擇")
        <select id="group" name="group"><option>------</option></select>
        &nbsp; <input id="send" type="button"  value="送出">
        <div id="text"></div>
    </form>
</body>

</html>



<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $('#department').change(function () { changeDepartment(); });
    });

    function changeDepartment() {
        var selectedValue = $('#department option:selected').val();
        if ($.trim(selectedValue).length > 0) {
            getGroup(selectedValue);
        }
    }

    function getGroup(id) {
        $.ajax({
            url: '/Home/GetDepartment',
            data: { id:id },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#group').empty();
                    $('#group').append($('<option></option>').val('').text('請選擇'));
                    $.each(data, function (i, item) {
                        //$("#Orders").append('<option Value"' + item.val + '">' + item.Text + '</option>')

                        $('#group').append($('<option></option>').val(item.Key).text(item.Value));
                    });
                }
            }
        });
    }


    $(function () {
        $('#send').on('click', function () {
            var status = $(this).val();
            var a = $("#department option:selected").text()
            var b = $("#group option:selected").text()
            $('#text').text(a+ " / "+ b)           
        });
    });

    

    
</script>